// Background
$purple: rgb(238 210 255);
$aqua: aqua;

// Text colors
$gray: #788097;
$black: #242d49;
$white: #fff;

// Card, Shadow
$skyCard: rgba(100, 205, 249, 0.45);
$boxShadow: 0px 19px 60px rgba(132, 194, 247, 0.1);
$smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

// Color other
$sky: #10bce3;
$skyOverlay: rgba(36, 105, 160, .8);
$blue: #2469a0;
$peacock: #3dd6af;
$green: #8be27e;
$red: #ff0000;
